.itens{
    color: currentColor;
    background-color: #e0a9a9;
    text-align: center;
    padding: 30px ;
    margin: 0 35px;
    cursor: pointer;
}

.grid-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    padding: 20px;   
}
@media(max-width: 898px){
    .grid-cards{
        grid-template-columns: repeat(2,1fr);
        margin: 0 50px;
    }
}

@media(max-width: 596px){
    .grid-cards{
        grid-template-columns: repeat(1,1fr);
        margin: 0 60px;
    }
}