body{
    gap: 42px;
}
.pmo{
    background-color: #008cff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    transition: 0.2s ease-in-out;
}
.pmo:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.card{
    width: 200px;
    height: 100px;
    background-color: lightgray;
    margin: 40px;
    transition: 1000s linear;

}
.card:hover{
    transform:rotate(1999111700deg);
    cursor: pointer;

}

@keyframes piscar{
    0% {opacity: 1;}
    50% {opacity: 0;}
    100%{opacity: 1;}
}
.botao-a{
    animation: piscar 1ms infinite;
}

@keyframes colori{
    0%{background-color: red;
    }
    33%{background-color: rgb(0, 255, 0);
    }
    66%{background-color: blue;
    }
    100%{background-color: yellow;
    }
}
.boco{
    animation: colori 1s infinite;
    border: 0;
    padding: 10px 20px;
    color: white;
}
@keyframes gi{
    from{transform: rotate(0deg);}
    to{transform: rotate(180deg);}
}
.bogi{
    animation: gi 2s infinite linear;
    padding: 12px 24px;
    background-color: beige;
}
.bogi:hover{
    animation-play-state: paused;
}
@keyframes walk {
    0%{
        left: 0;
    transform: scaleX(1);    }
    50% {
        left: 1700px;
        transform: scaleX(1);
}
    51% {
        
        transform: scaleX(-1);
}
    100% {
        left: 00px;
        transform: scaleX(-1);
    }
}


.sya{
    position: relative;
    animation: walk 3s linear infinite;
    
}